/* UseroesComponent's private CSS styles */


.header {
  background-color:LightGray;
  color: LightGray;
  padding: 20px;
}

h1{ 
 text-align: center;
 color: DodgerBlue;
}
h2 {
 text-align: center;
 color: red;
}

.user-oes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

input {
  display: block;
  width: 40%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border: radius; 
  /* color: red; */

  /*border: 2px solid red;*/
  border-radius: 12px;
  /* padding: 5px; */
}

.user-oes li {
  position: relative;
  cursor: pointer;
}

.user-oes li:hover {
  left: .1em;
}

.user-oes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.user-oes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.user-oes a:active {
  background-color: #525252;
  color: #fafafa;
}

.user-oes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
 color: blue;
 background-color: #4CAF50; /* Green */
 color: blue;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  position: absolute;
  left: 210px;
  top: 5px;
  background-color: white;
  color:  #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}

/* Create three equal columns that floats next to each other
.column {
  float: left;
  width: 40%;
  padding: 25px;
}
 */
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

