<!-- This file ... -->

<div class="header">
	<h1>Users</h1>
</div>

<!-- Inicio Modal -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add New User
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>New User</p>
	<div class="input-group">
  	<!-- <span class="input-group-text">E-mail and UserName</span> -->
  	<input id="email" type="text" aria-label="Email" #_email placeholder="E-mail" class="form-control">
  	<input id="user-name" type="text" aria-label="User Name" placeholder="Username"  #_userName  class="form-control">
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="add(_email.value)">Save</button> 
      </div>
    </div>
  </div>
</div>


<!-- FIM Modal -->

<!--  <div>
  <label for="new-user">User Name: </label>
  <input id="new-user" #userName />

  (click) passes input value to add() and then clears the input 
  <button type="button" class="add-button" (click)="addUserName(userName.value); userName.value=''">Add User</button>
</div> -->

<!-- <h2>My Users</h2>
<ul class="user-oes">
  <li *ngFor="let user of _userOes">
    <a routerLink="/users-details/{{user._id}}">
      <span class="badge">{{user._id}}</span> {{user._email}}
    </a>
    <button type="button" class="delete" title="delete-user"
      (click)="delete(user)">x</button>
  </li>
</ul> -->


<div class="table table-hover">
<table class="table  table-striped" *ngIf="_userOes" style="width:100%">
	<thead>
	<tr>
		<th scope="col">Id</th>
		<th scope="col">Email</th>
		<th scope="col">UserName</th>
		<th scope="col">Actions</th>
		
	</tr>
	</thead>
	<tbody class="table-group-divider">
	<tr  *ngFor="let user of _userOes">
		
		 <td>{{user._id}}</td>
		 <td>{{user._email}}</td>
		 <td>{{user._userName}}</td>
		 <td></td>
		
	</tr>
	</tbody>
</table>
</div>